<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .PageTitle }} | {{ .SiteTitle }}</title>
    <link rel="stylesheet" href="{{ .BaseURL }}/css/style.css">
</head>
<body>
    <div class="container">
        {{ template "header.html" . }} <main>
            <p><em>--- This page is using the 'post.html' layout ---</em></p>
            {{ .Content }}
        </main>

        {{ template "footer.html" . }} </div>
</body>
</html>
